<ng-container *ngIf="movie">
<div class="movie-card"  [ngClass]="cardClasses()"> 

  <div class="movie-title">
      {{cardIndex || '' + ' ' + movie.name}}
  </div>
  <img width="300" alt="Angular Logo" *ngIf="isImageAvailable(); else noImage"
       [src]="movie.iconUrl">

  <ng-template #noImage>
    <p>No Image Available.</p>
  </ng-template>

  <div class="movie-description">
      {{movie.longDescription}}
  </div>

  <ng-container [ngSwitch]="movie.genre">
  <div class="movie-category">

      <div class="category" *ngSwitchCase="'Action'">Action</div>
      <div class="category" *ngSwitchCase="'Thriller'">Thriller</div>
      <div class="category" *ngSwitchCase="'Romance'">Romance</div>
      <div class="category" *ngSwitchDefault>All Levels</div>
  </div>
</ng-container>

  <button (click)="onMovieViewed()">View Movie</button>
</div>

</ng-container>
